{% extends 'base.html.twig' %}

{% block title %}New Rujukan{% endblock %}

{% block content %}
    <h1>Create new Rujukan</h1>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <br>
    {{ include('rujukan/_form.html.twig') }}
            </div>
        </div>
    </div>
</section>

    <a class="btn btn-primary" href="{{ path('app_rujukan_index') }}">back to list</a>
{% endblock %}
