<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{{ path('homepage') }}"><img src="{{ asset('parason/img/logo.png') }}" alt=""></a>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->